{% import 'macros.html' as components %}
<footer class="footer-section section-padding">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    <div class="container">
        <div class="footer-subsection footer-cta">
            <img src="{{ url_for('static', filename='images/brand-logo-solid.png') }}" style="height:128px; align-self: center;" />
            <h2>Ready to move better?</h2>
            <p class="subtitle">Schedule your consultation today.</p>
            
            <a href="/booking" class="btn btn-primary btn-large">
                {{ components.icon('calendar') }}
                Book Appointment
            </a>
            <div class="contact-details">
                <p>
                    {{ components.icon('phone') }}
                    Call us: <a href="tel:0451798814" class="text-decoration-none text-primary">0451 798 814</a>
                </p>
                <p>
                    {{ components.icon('email') }}
                    Email us: <a href="mailto:info@kennethphysio.com" class="text-decoration-none text-primary">info@kennethphysio.com</a>
                </p>
            </div>
        </div>
        <div class="footer-subsection">
            <h3>Our Services</h3>
            <div class="footer-services">
                <div><a href="/services">Aged Care Physiotherapy (Support At Home Program)</a></div>
                <div><a href="/services">Physiotherapy for NDIS Participants</a></div>
                <div><a href="/services">Falls prevention and Balance Training</a></div>
                <div><a href="/services">Physiotherapy After Joint Replacement</a></div>
                <div><a href="/services">Chronic Condition and Pain Management</a></div>
                <div><a href="/services">Mobility Aids & Training</a></div>
                <div><a href="/services">Neurological Physiotherapy</a></div>
            </div>
        </div>
        <div class="footer-subsection">
            <h3>Quick Links</h3>
            <div><a href="/">Home</a></div>
            <div><a href="/about">About Us</a></div>
            <div><a href="/services">Services</a></div>
            <div><a href="/faqs">FAQs</a></div>
            <div><a href="/">Funding Pathways</a></div>
            <div><a href="/referral">Making a Referral</a></div>
            <div><a href="/contact">Contact</a></div>
        </div>
    </div>
    <div class="footer-links">
        <p>&copy; 2026 Kenneth Mobile Physiotherapy. All Rights Reserved.</p>
        <p>Sydney 2000, NSW, Australia | Email: info@kennethphysio.com</p>
    </div>
</footer>