<!-- Navigation Component -->
<nav class="navbar">
    <div class="container">
        <div class="logo">
            <img src="{{ url_for('static', filename='images/brand-logo.png') }}" />
        </div>
        <div class="nav-contact">
            <p><img src="{{ url_for('static', filename='images/icons/phone.svg') }}" alt="Phone" class="icon"> 0451 798 814</p>
            <p><img src="{{ url_for('static', filename='images/icons/email.svg') }}" alt="Email" class="icon"> <a href="mailto:info@kennethphysio.com">info@kennethphysio.com</a></p>
            <p><img src="{{ url_for('static', filename='images/icons/clock.svg') }}" alt="Clock" class="icon"> Monday-Friday 9am-5pm</p>
        </div>
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="/">Services</a></li>
            <li>
                <a href="/">Funding Pathways</a>
                <div class="dropdown-content">
                    <div>Aged Care</div>
                    <div>NDIS</div>
                    <div>DVA (Gold and White Cards)</div>
                    <div>Private Clients</div>
                </div>
            </li>
            <li>
                <a href="/">FAQs</a>
                <div class="dropdown-content">
                    <div>test 1</div>
                    <div>test 2</div>
                    <div>test 3</div>
                </div>
            </li>
            <li><a href="/referral">Making a Referral</a></li>
            <li><a href="/">Contact</a></li>
            <li><a href="/booking" class="cta-button-nav">Book Home Visit</a></li>
        </ul>
    </div>
</nav>