/* HERO SECTION */
.hero-section {
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    padding: 150px 0;
    height: 70vh;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-section::before {
    content: "";
    position: absolute;
    inset: -20px;
    background: url('/static/images/hero-section-background.png');
    background-size: cover;
    background-position: 0% 20%;
    background-repeat: no-repeat;
    filter: blur(5px);
}

.hero-section::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
}

.hero-content {
    position: relative;
    z-index: 1;
}

.hero-content h1 {
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 15px;
}

.subtitle {
    font-size: 1.3rem;
    font-weight: 300;
}

.disclaimer {
    margin-top: 20px;
    font-size: 1.3rem;
    opacity: 0.8;
}

/* SERVICES SECTION */
.services-section {
    text-align: center;
}

.services-section h2 {
    font-size: 2.2rem;
    color: var(--color-dark);
}

.services-description {
    margin: 2vh 0 5vh 0;
}

.service-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.service-card {
    text-align: center;
    flex-basis: 20vw;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
    transition: transform 0.3s;
}

.service-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.service-card .service-icon {
    font-size: 3rem;
    display: block;
    margin-bottom: 15px;
}

.service-card h3 {
    color: var(--color-primary);
    margin-bottom: 10px;
    font-size: 1.4rem;
}

/* SLIDER */
.slider {
    overflow: hidden;
    width: 100%;
    min-height: 15vh;
    display: flex;
    align-items: center;
}

.track {
    display: flex;
    width: max-content;
    animation: slide 20s linear infinite;
}

.track img {
    height: 5rem;;
    object-fit: cover;
    margin: 0 5vw;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

/* RESPONSIVENESS */
@media (max-width: 1280px) {
    .service-grid, .process-content, .about-grid {
        flex-direction: column;
        gap: 25px;
    }

    .nav-contact {
        display: none;
    }
}

@media (max-width: 768px) {
    .hero-content h1 {
        font-size: 2.5rem;
    }

    .subtitle {
        font-size: 1.1rem;
    }

    .service-card, .step {
        padding: 20px;
    }

    .navbar {
        height: auto;
    }

    .navbar .container {
        flex-direction: column;
        gap: 15px;
    }

    .nav-links {
        flex-direction: column;
        align-items: center;
        gap: 8px;
    }

    .nav-links li {
        width: 100%;
        text-align: center;
    }
    
    .btn-large {
        width: 100%;
        max-width: 350px;
        margin: 0 auto;
    }
}
