/* GLOBAL STYLES AND RESET */
:root {
    --color-primary: #50949f;
    --color-secondary: #293a70;
    --color-tertiary: #40767F;
    --color-dark: #333;
    --color-light: #f8f9fa;
    --color-text-muted: #6c757d;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    color: var(--color-dark);
}

a {
    all: unset;
    cursor: pointer;
}

.container {
    margin: 0 8vw;
}

.section-padding {
    padding: 80px 0;
}

.bg-light {
    background-color: var(--color-light);
}

/* BUTTONS */
.btn {
    display: inline-block;
    padding: 12px 30px;
    text-decoration: none;
    border-radius: 50px;
    font-weight: 600;
    transition: background-color 0.3s, transform 0.3s;
    text-align: center;
    border: none;
    cursor: pointer;
}

.btn-primary {
    background-color: var(--color-primary);
    color: white;
    margin: 2vh 0;
}

.btn-primary:hover {
    background-color: #506D9F;
    transform: translateY(-2px);
}

.btn-secondary {
    background-color: transparent;
    color: var(--color-primary);
    border: 2px solid var(--color-primary);
    padding: 10px 25px;
}

.btn-secondary:hover {
    background-color: var(--color-primary);
    color: white;
    transform: translateY(-2px);
}

.btn-large {
    padding: 15px 40px;
    font-size: 1.1rem;
}
